<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Escola</title>
</head>
<body>
<div th:replace="~{menu :: menu}"></div>
<div class="container">
	<h1>Adicionar Alunos</h1>

	<form action="/escola" method="post">
		<div>
			<label>Matricula:</label> <input type="text" name="id">
		</div>
		<div>
			<label>Nome do Aluno:</label> <input type="text" name="nome">
		</div>
		<div>
			<label>Turma:</label> <input type="text" name="turma_id">
		</div>

		<div>
			<button class="waves-effect waves-light btn" type="submit">Salvar</button>
			<button class="waves-effect waves-light btn"  type=>Reset</button>
		</div>


	</form>
	</div>
</body>
</html>